.frame-child {
  height: 2673px;
  width: 1440px;
  position: relative;
  background-color: #282727;
  display: none;
  max-width: 100%;
}
.rectangle-parent {
  box-sizing: border-box;
}
.rectangle-parent {
  align-self: stretch;
  height: 2673px;
  background-color: #282727;
  padding: 53px 25px;
  flex-shrink: 0;
  max-width: 100%;
  text-align: left;
  font-size: 20px;
  color: #fff500;
  font-family: "Open Sans";
}
.frame-item {
  align-self: stretch;
  height: 2504px;
  position: relative;
  border-radius: 20px;
  background-color: #000;
  display: none;
}
.food-project-background {
  width: 400px;
  position: relative;
  border-radius: 20px;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.food-app {
  width: 143.2px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.food-project-title {
  width: 661.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.in-this-uxui {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  font-family: "Open Sans";
  text-align: center;
}
.food-project-button-background {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;
}
.food-project-title-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9.5px 45px 45px;
  box-sizing: border-box;
  position: relative;
  gap: 48.5px;
  min-width: 497px;
  max-width: 100%;
  z-index: 1;
}
.food-project,
.food-project-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.food-project-details {
  flex: 1;
  justify-content: flex-start;
  gap: 31px;
}
.food-project {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 38px 9px 46px;
  box-sizing: border-box;
}
.food-figma-button-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background-color: #fff500;
}
.open,
.phlink-bold-icon {
  position: relative;
  flex-shrink: 0;
}
.open {
  flex: 1;
  font-size: 30px;
  font-weight: 600;
  font-family: "Open Sans";
  color: #000;
  text-align: left;
}
.phlink-bold-icon {
  width: 30px;
  height: 29px;
  overflow: hidden;
}
.food-figma-icon,
.open-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.food-figma-icon {
  flex-direction: column;
  padding: 6px 0 0;
  margin-left: -6px;
}
.open-parent {
  width: 116px;
  flex-direction: row;
  z-index: 1;
}
.figma-button-2,
.food-figma-button-instance {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.figma-button-2 {
  cursor: pointer;
  border: 0;
  padding: 14px 20px 15px 45px;
  background-color: transparent;
  width: 599px;
  position: relative;
  z-index: 1;
}
.food-figma-button-instance {
  align-self: stretch;
  padding: 0 20px;
}
.food-figma-button-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.food-figma-button,
.food-project-button {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.food-figma-button {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 46.1px;
}
.food-project-button {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 1px 0 0;
  box-sizing: border-box;
}
.music-app {
  position: relative;
}
.music-project-title {
  width: 661.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.in-this-uxui1 {
  align-self: stretch;
  height: 232.1px;
  position: relative;
  font-size: 20px;
  font-family: "Open Sans";
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.music-project-title-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9.5px 44px 56.3px;
  box-sizing: border-box;
  position: relative;
  gap: 48.1px;
  min-width: 497px;
  max-width: 100%;
  z-index: 1;
}
.music-project-content,
.music-project-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.music-project-content {
  width: 1196px;
  justify-content: flex-start;
  gap: 31px;
}
.music-project-details {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 37px 6.8px;
  box-sizing: border-box;
}
.open1 {
  height: 35px;
  position: relative;
  font-size: 30px;
  font-weight: 600;
  font-family: "Open Sans";
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 86px;
}
.music-figma-icon,
.open-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.music-figma-icon {
  flex-direction: column;
  padding: 9px 0 0;
}
.open-group {
  flex-direction: row;
  z-index: 1;
}
.figma-button-1 {
  cursor: pointer;
  border: 0;
  padding: 11px 20px 21px 51px;
  background-color: transparent;
  width: 599px;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.figma-button-1,
.music-project,
.music-project-button {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.music-project-button {
  width: 1241px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.music-project {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 34.1px;
}
.portfolio {
  width: 128px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.portfolio-title {
  width: 646px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.designed-a-personal {
  align-self: stretch;
  height: 243px;
  position: relative;
  font-size: 20px;
  font-family: "Open Sans";
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.portfolio-project-buttons,
.portfolio-title-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.portfolio-title-parent {
  flex: 1;
  flex-direction: column;
  padding: 10px 45px 45px;
  box-sizing: border-box;
  position: relative;
  gap: 48px;
  min-width: 497px;
  z-index: 1;
}
.portfolio-project-buttons {
  align-self: stretch;
  flex-direction: row;
  gap: 31px;
}
.open2 {
  height: 35px;
  flex: 1;
  position: relative;
  font-size: 30px;
  font-weight: 600;
  font-family: "Open Sans";
  color: #000;
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
}
.portfolio-figma-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
  margin-left: -7px;
}
.figma-button-3 {
  cursor: pointer;
  border: 0;
  padding: 17px 20px 18px 35px;
  background-color: transparent;
  width: 599px;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.figma-button,
.figma-button-3,
.portfolio-project-description {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.figma-button {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 29px 0 20px;
  box-sizing: border-box;
}
.portfolio-project-description {
  width: 1196px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 70.9px;
}
.portfolio-project,
.portfolio-project-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 37px;
  box-sizing: border-box;
  max-width: 100%;
}
.portfolio-project {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 7px;
  gap: 40.1px;
}
.social-media-app {
  width: 248px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.social-media-app-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1px 0 0;
}
.frame-group,
.open3 {
  flex: 1;
  position: relative;
}
.frame-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 45px 99px;
  box-sizing: border-box;
  gap: 48px;
  min-width: 497px;
  max-width: 100%;
  z-index: 1;
}
.open3 {
  height: 35px;
  font-size: 30px;
  font-weight: 600;
  font-family: "Open Sans";
  color: #000;
  text-align: left;
  display: inline-block;
}
.figma-button-4,
.group-div,
.phlink-bold-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.phlink-bold-wrapper {
  flex-direction: column;
  padding: 6px 0 0;
}
.figma-button-4,
.group-div {
  width: 118px;
  flex-direction: row;
  z-index: 1;
}
.figma-button-4 {
  cursor: pointer;
  border: 0;
  padding: 14px 20px 21px 51px;
  background-color: transparent;
  width: 599px;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.frame-parent,
.portfolio-project-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  flex-shrink: 0;
}
.frame-parent {
  width: 1196px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 63.9px;
}
.portfolio-project-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 37px;
  box-sizing: border-box;
}
.portfolio-project-item {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  flex-shrink: 0;
}
.content,
.portfolio-project1,
.rectangle-group {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.portfolio-project1 {
  align-self: stretch;
  height: 581px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 47px;
  gap: 47.1px;
}

.ecommerce-app {
  position: relative;
}
.ecommerce-project-title {
  width: 661.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.in-this-uxui5 {
  align-self: stretch;
  height: 232.1px;
  position: relative;
  font-size: 20px;
  font-family: "Open Sans";
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.ecommerce-project-title-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9.5px 44px 56.3px;
  box-sizing: border-box;
  position: relative;
  gap: 60.1px;
  min-width: 497px;
  max-width: 100%;
  z-index: 1;
}
.ecommerce-project-content,
.ecommerce-project-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.ecommerce-project-content {
  width: 1196px;
  justify-content: flex-start;
  gap: 51px;
}
.ecommerce-project-details {
  align-self: stretch;
  justify-content: flex-end;
  padding: 110px 37px 6.8px;
  box-sizing: border-box;

}
.open5 {
  height: 35px;
  position: relative;
  font-size: 30px;
  font-weight: 600;
  font-family: "Open Sans";
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 86px;
}
.ecommerce-figma-icon,
.open-group5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ecommerce-figma-icon {
  flex-direction: column;
  padding: 9px 0 0;
}
.open-group5 {
  flex-direction: row;
  z-index: 1;
}
.figma-button-5 {
  cursor: pointer;
  border: 0;
  padding: 11px 20px 21px 51px;
  background-color: transparent;
  width: 599px;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.figma-button-5,
.ecommerce-project,
.ecommerce-project-button {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.ecommerce-project-button {
  width: 1241px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.ecommerce-project {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 60.1px;
}




.content,
.rectangle-group {
  flex-shrink: 0;
}
.rectangle-group {
  flex: 1;
  border-radius: 20px;
  background-color: #000;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 57px 0 0.1px;
  gap: 55.9px;
  z-index: 2;
}
.content {
  width: 1402px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 61px;
  margin-top: -2523px;
}
.desktop-2 {
  width: 100%;
  position: relative;
  background-color: #282727;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 30px;
  color: #fff;
  font-family: Roboto;
}



@media only screen and (max-width: 768px) {


  .frame-child {
    height: 668.25px;
    width: 360px;
    position: relative;
    background-color: #282727;
    display: none;
    max-width: 100%;
  }
  .rectangle-parent {
    box-sizing: border-box;
  }
  .rectangle-parent {
    align-self: stretch;
    height: 668.25px;
    background-color: #282727;
    padding: 13.25px 6.25px;
    flex-shrink: 0;
    max-width: 100%;
    text-align: left;
    font-size: 5px;
    color: #fff500;
    font-family: "Open Sans";
  }
  .frame-item {
    align-self: stretch;
    height: 626px;
    position: relative;
    border-radius: 5px;
    background-color: #000;
    display: none;
  }
  .food-project-background {
    width: 100px;
    position: relative;
    border-radius: 5px;
    max-height: 100%;
    object-fit: cover;
    max-width: 100%;
    z-index: 1;
  }
  .food-app {
    width: 35.8px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .food-project-title {
    width: 165.32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .in-this-uxui {
    align-self: stretch;
    position: relative;
    font-size: 5px;
    font-family: "Open Sans";
    text-align: center;
  }
  .food-project-button-background {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    z-index: 1;
  }
  .food-project-title-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2.375px 11.25px 11.25px;
    box-sizing: border-box;
    position: relative;
    gap: 12.125px;
    min-width: 124.25px;
    max-width: 100%;
    z-index: 1;
  }
  .food-project,
  .food-project-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .food-project-details {
    flex: 1;
    justify-content: flex-start;
    gap: 7.75px;
  }
  .food-project {
    align-self: stretch;
    justify-content: flex-end;
    padding: 0 9.5px 2.25px 11.5px;
    box-sizing: border-box;
  }
  .food-figma-button-background {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    background-color: #fff500;
  }
  .open,
  .phlink-bold-icon {
    position: relative;
    flex-shrink: 0;
  }
  .open {
    flex: 1;
    font-size: 7.5px;
    font-weight: 600;
    font-family: "Open Sans";
    color: #000;
    text-align: left;
  }
  .phlink-bold-icon {
    width: 7.5px;
    height: 7.25px;
    overflow: hidden;
  }
  .food-figma-icon,
  .open-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .food-figma-icon {
    flex-direction: column;
    padding: 1.5px 0 0;
    margin-left: -1.5px;
  }
  .open-parent {
    width: 29px;
    flex-direction: row;
    z-index: 1;
  }
  .figma-button-2,
  .food-figma-button-instance {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
  }
  .figma-button-2 {
    cursor: pointer;
    border: 0;
    padding: 3.5px 5px 3.75px 11.25px;
    background-color: transparent;
    width: 149.75px;
    position: relative;
    z-index: 1;
  }
  .food-figma-button-instance {
    align-self: stretch;
    padding: 0 5px;
  }
  .food-figma-button-child {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
  }
  .food-figma-button,
  .food-project-button {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .food-figma-button {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 11.525px;
  }
  .food-project-button {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 0.25px 0 0;
    box-sizing: border-box;
  }
  .music-app {
    position: relative;
  }
  .music-project-title {
    width: 165.35px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .in-this-uxui1 {
    align-self: stretch;
    height: 58.025px;
    position: relative;
    font-size: 5px;
    font-family: "Open Sans";
    text-align: center;
    display: inline-block;
    flex-shrink: 0;
  }
  .music-project-title-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2.375px 11px 14.075px;
    box-sizing: border-box;
    position: relative;
    gap: 12.25px;
    min-width: 124.25px;
    max-width: 100%;
    z-index: 1;
  }
  .music-project-content,
  .music-project-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .music-project-content {
    width: 299px;
    justify-content: flex-start;
    gap: 7.75px;
  }
  .music-project-details {
    align-self: stretch;
    justify-content: flex-end;
    padding: 0 9.25px 1.7px;
    box-sizing: border-box;
  }
  .open1 {
    height: 8.75px;
    position: relative;
    font-size: 7.5px;
    font-weight: 600;
    font-family: "Open Sans";
    color: #000;
    text-align: left;
    display: inline-block;
    min-width: 21.5px;
  }
  .music-figma-icon,
  .open-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .music-figma-icon {
    flex-direction: column;
    padding: 2.25px 0 0;
  }
  .open-group {
    flex-direction: row;
    z-index: 1;
  }
  .figma-button-1 {
    cursor: pointer;
    border: 0;
    padding: 2.75px 5px 5.25px 12.75px;
    background-color: transparent;
    width: 149.75px;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
  }
  .figma-button-1,
  .music-project,
  .music-project-button {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .music-project-button {
    width: 310.25px;
    flex-direction: row;
    justify-content: center;
    padding: 0 5px;
    box-sizing: border-box;
  }
  .music-project {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8.525px;
  }
  .portfolio {
    width: 32px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .portfolio-title {
    width: 161.5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .designed-a-personal {
    align-self: stretch;
    height: 60.75px;
    position: relative;
    font-size: 5px;
    font-family: "Open Sans";
    text-align: center;
    display: inline-block;
    flex-shrink: 0;
  }
  .portfolio-project-buttons,
  .portfolio-title-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .portfolio-title-parent {
    flex: 1;
    flex-direction: column;
    padding: 2.5px 11.25px 11.25px;
    box-sizing: border-box;
    position: relative;
    gap: 12px;
    min-width: 124.25px;
    z-index: 1;
  }
  .portfolio-project-buttons {
    align-self: stretch;
    flex-direction: row;
    gap: 7.75px;
  }
  .open2 {
    height: 8.75px;
    flex: 1;
    position: relative;
    font-size: 7.5px;
    font-weight: 600;
    font-family: "Open Sans";
    color: #000;
    text-align: left;
    display: inline-block;
    flex-shrink: 0;
  }
  .portfolio-figma-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5px 0 0;
    margin-left: -1.75px;
  }
  .figma-button-3 {
    cursor: pointer;
    border: 0;
    padding: 4.25px 5px 4.5px 8.75px;
    background-color: transparent;
    width: 149.75px;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
  }
  .figma-button,
  .figma-button-3,
  .portfolio-project-description {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .figma-button {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 7.25px 0 5px;
    box-sizing: border-box;
  }
  .portfolio-project-description {
    width: 299px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 17.725px;
  }
  .portfolio-project,
  .portfolio-project-details {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 9.25px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .portfolio-project {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 1.75px;
    gap: 10.025px;
  }
  .social-media-app {
    width: 62px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .social-media-app-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0.25px 0 0;
  }
  .frame-group,
  .open3 {
    flex: 1;
    position: relative;
  }
  .frame-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2.5px 11.25px 24.75px;
    box-sizing: border-box;
    gap: 12px;
    min-width: 124.25px;
    max-width: 100%;
    z-index: 1;
  }
  .open3 {
    height: 8.75px;
    font-size: 7.5px;
    font-weight: 600;
    font-family: "Open Sans";
    color: #000;
    text-align: left;
    display: inline-block;
  }
  .figma-button-4,
  .group-div,
  .phlink-bold-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .phlink-bold-wrapper {
    flex-direction: column;
    padding: 1.5px 0 0;
  }
  .figma-button-4,
  .group-div {
    width: 29.5px;
    flex-direction: row;
    z-index: 1;
  }
  .figma-button-4 {
    cursor: pointer;
    border: 0;
    padding: 3.5px 5px 5.25px 12.75px;
    background-color: transparent;
    width: 149.75px;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
  }
  .frame-parent,
  .portfolio-project-inner {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    flex-shrink: 0;
  }
  .frame-parent {
    width: 299px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15.975px;
  }
  .portfolio-project-inner {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 9.25px;
    box-sizing: border-box;
  }
  .portfolio-project-item {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    flex-shrink: 0;
  }
  .content,
  .portfolio-project1,
  .rectangle-group {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .portfolio-project1 {
    align-self: stretch;
    height: 145.25px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 11.75px;
    gap: 11.775px;
  }

    .ecommerce-app {
    position: relative;
  }
  .ecommerce-project-title {
    width: 165.35px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .in-this-uxui5 {
    align-self: stretch;
    height: 58.025px;
    position: relative;
    font-size: 5px;
    font-family: "Open Sans";
    text-align: center;
    display: inline-block;
    flex-shrink: 0;
  }
  .ecommerce-project-title-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2.375px 11px 14.075px;
    box-sizing: border-box;
    position: relative;
    gap: 17.25px;
    min-width: 124.25px;
    max-width: 100%;
    z-index: 1;
  }
  .ecommerce-project-content,
  .ecommerce-project-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .ecommerce-project-content {
    width: 299px;
    justify-content: flex-start;
    gap: 12.75px;
  }
  .ecommerce-project-details {
    align-self: stretch;
    justify-content: flex-end;
    padding: 35px 9.25px 1.7px;
    box-sizing: border-box;
  }
  .open5 {
    height: 8.75px;
    position: relative;
    font-size: 7.5px;
    font-weight: 600;
    font-family: "Open Sans";
    color: #000;
    text-align: left;
    display: inline-block;
    min-width: 21.5px;
  }
  .ecommerce-figma-icon,
  .open-group5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ecommerce-figma-icon {
    flex-direction: column;
    padding: 2.25px 0 0;
  }
  .open-group5 {
    flex-direction: row;
    z-index: 1;
  }
  .figma-button-5 {
    cursor: pointer;
    border: 0;
    padding: 2.75px 5px 5.25px 12.75px;
    background-color: transparent;
    width: 149.75px;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
  }
  .figma-button-5,
  .ecommerce-project,
  .ecommerce-project-button {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .ecommerce-project-button {
    width: 310.25px;
    flex-direction: row;
    justify-content: center;
    padding: 0 5px;
    box-sizing: border-box;
  }
  .ecommerce-project {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
  }
  
  .content,
  .rectangle-group {
    flex-shrink: 0;
  }
  .rectangle-group {
    flex: 1;
    border-radius: 5px;
    background-color: #000;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 14.25px 0 0.025px;
    gap: 13.975px;
    z-index: 2;
  }
  .content {
    width: 350.5px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 15.25px;
    margin-top: -630.75px;
  }
  .desktop-2 {
    width: 100%;
    position: relative;
    background-color: #282727;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 7.5px;
    color: #fff;
    font-family: Roboto;
  }


}
